name: Deploy To EC2

on:
  push:
    branches:
      - main

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH로 EC2 접속 후 Docker 배포
        uses: appleboy/ssh-action@v1.0.3
        env:
          APPLICATION_PROPERTIES: ${{secrets.APPLICATION_PROPERTIES}}
        with:
          host: ${{secrets.EC2_HOST}}
          username: ${{secrets.EC2_USERNAME}}
          key: ${{secrets.EC2_PRIVATE_KEY}}
          envs: APPLICATION_PROPERTIES
          script_stop: true
          script: |
            cd /home/ubuntu/rehab_backend
            git pull origin main
            mkdir -p src/main/resources
            echo "$APPLICATION_PROPERTIES" > src/main/resources/application.yml
            ./gradlew clean build -x test
            docker compose down --remove-orphans || true
            docker rm -f rehab-server || true
            docker compose build
            docker compose up -d
            docker image prune -f
